.navDiv {
    display: inline-block;
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 100%;
}


.paginateButton:hover {
    cursor: pointer;
}